<% include partials/header %>
<% include partials/menu %>

	<div class="divider"></div>

	<div class="container">
		

		<nav class="nav nav-tabs" id="myTab" role="tablist">
		  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Sell Inventory</a>
		  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Discard Inventory</a>
		</nav>

		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		  	<div class="card">
				<div class="card-body generalpadding">
					<form action="/shops/<%= shop._id %>/sellinventory/<%= inventory._id %>/sell?_method=PUT" method="POST">
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
								    <label class="greytext smalltext" for="shopname">Shop Name</label>
								    <input type="text" class="form-control" id="shopname" aria-describedby="emailHelp" placeholder="<%= shop.shopname %>" readonly>
								</div>
								<div class="form-group">
								    <label class="greytext smalltext" for="itemname">Item Name</label>
								    <input type="text" class="form-control" id="itemname" name="inventory[itemname]" value="<%= inventory.itemname %>" readonly>
								</div>
								<div class="form-group">
								    <label class="greytext smalltext" for="itemsprice">Item Selling Price (Each)</label>
								    <input type="number" class="form-control" id="itemsprice" aria-describedby="emailHelp" name="inventory[itemsprice]" placeholder="in KSH" value="<%= inventory.itemsprice %>" readonly>
								</div>
								<div class="form-group">
								    <label class="greytext smalltext" for="quantity">Quantity | <strong><em>Current quantity in stock = <span class="greentext"><%= inventory.quantity %> items</span></em></strong></label>
								    <input type="number" class="form-control" id="quantity" onkeyup="computeProfit();" onchange="computeProfit();" placeholder="Number of items" min="0" max="<%= inventory.quantity %>" required name="itemquantity">
								</div>
							</div>

							<div class="col-lg-6">
								<div class="form-group">
								    <label class="greytext smalltext" for="shopname">Customer Name</label>
								    <input type="text" class="form-control" id="shopname" placeholder="Enter customer name" name="customername" required>
								</div>
								<div class="form-group">
								    <label class="greytext smalltext" for="profitloss">Profit value</label>
								    <input type="text" class="form-control" id="profitloss" name="profitloss" readonly> 
								</div>

								<div class="form-group">
								    <input type="text" class="form-control" id="profitloss" value="<%= currentUser.username %>" name="theuser" hidden> 
								</div>

								<div class="form-group">
								    <label class="greytext smalltext" for="remquantity">Remaining Quantity</label>
								    <input type="text" class="form-control" id="remquantity" name="inventory[quantity]" readonly> 
								</div>
							</div>		
						</div>

					  	<button type="submit" class="btn btn-info btn-sm greenbtn">Sell Inventory</button>
					</form>
				</div>
			</div>
		  </div>
		  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		  		<div class="card">
					<div class="card-body generalpadding">
						<form action="/shops/<%= shop._id %>/sellinventory/<%= inventory._id %>/discard?_method=PUT" method="POST">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
									    <label class="greytext smalltext" for="shopname">Shop Name</label>
									    <input type="text" class="form-control" id="shopname" aria-describedby="emailHelp" placeholder="<%= shop.shopname %>" readonly>
									</div>
									<div class="form-group">
									    <label class="greytext smalltext" for="itemname">Item Name</label>
									    <input type="text" class="form-control" id="itemname" name="inventory[itemname]" value="<%= inventory.itemname %>" readonly>
									</div>
									<div class="form-group">
									    <label class="greytext smalltext" for="itemsprice">Item Selling Price <em>will be reduced to KSH: 0</em></label>
									    <input type="number" class="form-control" id="itemsprice" aria-describedby="emailHelp" name="inventory[itemsprice]" placeholder="0" value="<%= inventory.itemsprice %>" readonly>
									</div>
									<div class="form-group">
									    <label class="greytext smalltext" for="quantity2">Quantity | <strong><em>Current quantity in stock = <span class="greentext"><%= inventory.quantity %> items</span></em></strong></label>
									    <input type="number" class="form-control" id="quantity2" onkeyup="computeLoss();" onchange="computeLoss();" placeholder="Number of items" min="0" max="<%= inventory.quantity %>" required name="itemquantity">
									</div>
								</div>

								<div class="col-lg-6">
									<div class="form-group">
									    <label class="greytext smalltext" for="profitloss2">Loss value</label>
									    <input type="text" class="form-control" id="profitloss2" name="profitloss" readonly> 
									</div>

									<div class="form-group">
									    <input type="text" class="form-control" id="profitloss" value="<%= currentUser.username %>" name="theuser" hidden> 
									</div>

									<div class="form-group">
									    <label class="greytext smalltext" for="remquantity2">Remaining Quantity</label>
									    <input type="text" class="form-control" id="remquantity2" name="inventory[quantity]" readonly> 
									</div>

									<div class="form-group">
									    <input type="text" class="form-control" id="customername" value="Discarded Inventory" name="customername" hidden>
									</div>

									<div class="form-group">
									    <input type="text" class="form-control" id="totalspent" value="0" name="totalspent" hidden>
									</div>

									<div class="card">
										<div class="card-body generalpadding smalltext">
											<text><strong>Point to note about discarding inventory:</strong></text><br>
											<text>
												Items that are discarded will incur a loss to the shop which will be calculated in the average Shop's performance. Only discard items that cannot be sold to a customer for whatever reason such as defects on items or inedible food products. A good example of an item to be discarded is a packet of milk that has gone bad. 
											</text>
										</div>			
									</div>
								</div>		
							</div>

						  	<button type="submit" class="btn btn-info btn-sm greenbtn">Discard Inventory</button>
						</form>
					</div>
			</div>
		  </div>
		</div>

	</div>

	<script>
		function computeProfit() {
			var quantity = document.getElementById("quantity").value;
			var totalbuyingPrice = <%= inventory.itembprice %> * quantity;
			var totalsellingPrice = <%= inventory.itemsprice %> * quantity;
			var profit = totalsellingPrice - totalbuyingPrice;
			var viewPoint = document.getElementById("profitloss");
			viewPoint.value = profit;
			var remquantity = document.getElementById("remquantity").value = <%= inventory.quantity %> - quantity;
		}

		function computeLoss() {
			var quantity = document.getElementById("quantity2").value;
			var totalbuyingPrice = <%= inventory.itembprice %> * quantity;
			var totalsellingPrice = 0;
			var loss = totalsellingPrice - totalbuyingPrice;
			var viewPoint = document.getElementById("profitloss2");
			viewPoint.value = loss;
			var remquantity = document.getElementById("remquantity2").value = <%= inventory.quantity %> - quantity;
		}
	</script>

<% include partials/footer %>