<% include partials/header %>
<% include partials/menu %>

	<div class="row">
		<div class="col-lg-3 customwidth ">
			<% include partials/sidebar %>
		</div>
			<div class="col-lg-9 contentsection">
				<div class="divider"></div>
				<h3 class="shop-card-title">Bike Name: <%= bike.bikename %></h3><br>
				<h6 class="greytext">Bike model: <%= bike.bikemodel %> </h6>

				<div class="smdivider"></div>

				<% if(currentUser.typeaccount == "Administrator") { %>
					<button class="btn btn-info greenbtn" data-toggle="modal" data-target="#bikeModel">Edit this bike</button>
					<form class="display-inline" action="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>?_method=DELETE" method="POST">
						<button onclick="return confirm('Are you sure you want to delete this bike? All spareparts under it will be deleted as well.')" class="btn btn-danger">Delete this bike</button>
					</form>
				<% } %>

				<div class="smdivider"></div>

				<% if(successmessage && successmessage.length > 0) { %>
					<div class="alert alert-success" role="alert">
					  <%= successmessage %>
					</div>
				<% } %>

				<% if(warningmessage && warningmessage.length > 0) { %>
					<div class="alert alert-warning" role="alert">
					  <%= warningmessage %>
					</div>
				<% } %>


				<hr>

				<a href="/cshops/<%= cshop._id %>" id="addinventory"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Shop Overview</a>&nbsp;&nbsp;
				<a id="addinventory" data-toggle="modal" data-target="#sparepartsModel"><i class="fa fa-plus" aria-hidden="true"></i> Add Sparepart(s)</a>&nbsp;&nbsp;
				<a href="/cshops/<%= cshop._id %>/transactions" id="addinventory"><i class="fa fa-money" aria-hidden="true"></i> Shop transactions</a>

				<div class="smdivider"></div>

				<input id="searchsparepart" type="search" class="form-control" placeholder="Search for sparepart" onkeyup="myFunction()">

				<div class="smdivider"></div>

				<div class="topsec">
					<div class="row">
						<div class="col-lg-3">
							<p class="topsec_title">Item Name</p>
						</div>
						<div class="col-lg-3">
							<p class="topsec_title">Quantity</p>
						</div>
						<div class="col-lg-3">
							<p class="topsec_title">Selling Price</p>
						</div>
						<div class="col-lg-3"></div>
					</div>
				</div>

				<% if(bike.spareparts.length == 0) { %>
					<div class="card centertext">
						<div class="card-body">
							<text>You do not have any items in your spareparts list.</text>
						</div>
					</div>
				<% } else { %>

					<!-- For each function goes here -->
					<% bike.spareparts.forEach(function(sparepart) { %>
						<div class="card sparepartcard">
							<div class="card-body">
								<div class="statisticsitem">
									<div class="row">
										<div class="col-lg-3 sparepartin">
											<span><%= sparepart.partname %> | <%= sparepart.partnumber %></span>
										</div>
										<div class="col-lg-3">
											<span><%= sparepart.quantity %></span>
										</div>
										<div class="col-lg-3">
											<span>KSH <%= sparepart.unitsprice %></span>
										</div>
										<div class="col-lg-3">
											<a href="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/spareparts/<%= sparepart._id %>/edit" data-toggle="tooltip" data-placement="top" title="Edit part" class="smalltext editdelete"><i class="fa fa-pencil" aria-hidden="true"></i> </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<form class="display-inline" action="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/spareparts/<%= sparepart._id %>/delete?_method=DELETE" method="POST">
												<button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this sparepart?')" data-toggle="tooltip" data-placement="top" title="Delete part"><i class="fa fa-trash" aria-hidden="true"></i> </button>
											</form>
											<button onclick="location.href='/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/spareparts/<%= sparepart._id %>/sellpart';" class="btn btn-outline-success btn-sm pull-right">Sell inventory</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% }) %>
				<% } %>
			</div>
	</div>

	<!-- MODAL FOR ADDING BIKES -->
	<div class="modal fade" id="bikeModel" tabindex="-1" role="dialog" aria-labelledby="bikeModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	  	<div class="modal-content">
	      <div class="modal-header greenbackground">
	        <h5 class="modal-title" id="shopModalLabel"><i class="fa fa-motorcycle" aria-hidden="true"></i> Edit Bike</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <i class="fa fa-times" aria-hidden="true"></i>
	        </button>
	      </div>

	      <div class="smdivider"></div>

	      	<nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Single Bike</a>
			  </div>
			</nav>

			<!-- Single Bike Upload -->

			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			  	<div class="modal-body generalpadding">
			        <form action="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>?_method=PUT" method="POST">
					  <div class="form-group">
					    <label class="greytext smalltext" for="shopname">Shop Name</label>
					    <input type="text" class="form-control" id="shopname" aria-describedby="emailHelp" placeholder="<%= cshop.shopname %>" readonly>
					  </div>
					  <div class="form-group">
					    <label class="greytext smalltext" for="bikename">Bike Name</label>
					    <input type="text" class="form-control" id="bikename" aria-describedby="emailHelp" name="bike[bikename]" value="<%= bike.bikename %>" required>
					  </div>

					  <div class="form-group">
					    <label class="greytext smalltext" for="bikemodel">Bike Model</label>
					    <input type="text" class="form-control" id="bikemodel" aria-describedby="emailHelp" name="bike[bikemodel]" value="<%= bike.bikemodel %>" required>
					  </div>	  

					  <div class="divider"></div>

					  <button type="submit" class="btn btn-info greenbtn">Edit Bike</button>
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</form>
			    </div>
			  </div>

			</div>
	    </div>
	  </div>
	</div>

	<!-- End of the model ONE -->

	<!-- MODAL FOR ADDING SPAREPARTS -->
	<div class="modal fade" id="sparepartsModel" tabindex="-1" role="dialog" aria-labelledby="sparepartsModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	  	<div class="modal-content">
	      <div class="modal-header greenbackground">
	        <h5 class="modal-title" id="shopModalLabel"><i class="fa fa-motorcycle" aria-hidden="true"></i> Add Spareparts</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <i class="fa fa-times" aria-hidden="true"></i>
	        </button>
	      </div>

	      <div class="smdivider"></div>

	      <nav>
			  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			    <a class="nav-item nav-link active" id="nav-single-tab" data-toggle="tab" href="#nav-single" role="tab" aria-controls="nav-single" aria-selected="true">Single Sparepart</a>
			    <a class="nav-item nav-link" id="nav-multiple-tab" data-toggle="tab" href="#nav-multiple" role="tab" aria-controls="nav-multiple" aria-selected="false">Multiple Spareparts</a>
			  </div>
			</nav>

			<!-- Single Sparepart Upload -->

			<div class="tab-content" id="nav-tabContent">
			  <div class="tab-pane fade show active" id="nav-single" role="tabpanel" aria-labelledby="nav-single-tab">
			  	<div class="modal-body generalpadding">
			        <form action="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/spareparts" method="POST">
					  <div class="form-group">
					    <label class="greytext smalltext" for="bikename">Bike Name</label>
					    <input type="text" class="form-control" id="bikename" aria-describedby="emailHelp" placeholder="<%= bike.bikename %>" readonly>
					  </div>
					  <div class="form-group">
					    <label class="greytext smalltext" for="partname">Sparepart Name</label>
					    <input type="text" class="form-control" id="partname" aria-describedby="emailHelp" name="sparepart[partname]" required>
					  </div>

					  <div class="form-group">
					    <label class="greytext smalltext" for="partnumber">Sparepart Number</label>
					    <input type="text" class="form-control" id="partnumber" aria-describedby="emailHelp" name="sparepart[partnumber]" required>
					  </div>

					  <div class="form-group">
					    <label class="greytext smalltext" for="quantity">Quantity</label>
					    <input type="number" class="form-control" id="quantity" aria-describedby="emailHelp" name="sparepart[quantity]" required>
					  </div>

					  <div class="form-group">
					    <label class="greytext smalltext" for="buyingprice">Buying Price</label>
					    <input type="number" class="form-control" id="buyingprice" aria-describedby="emailHelp" name="sparepart[unitbprice]" required>
					  </div>

					  <div class="form-group">
					    <label class="greytext smalltext" for="sellingprice">Selling Price</label>
					    <input type="number" class="form-control" id="sellingprice" aria-describedby="emailHelp" name="sparepart[unitsprice]" required>
					  </div>	  

					  <div class="divider"></div>

					  <button type="submit" class="btn btn-info greenbtn">Add Sparepart</button>
					  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					</form>
			    </div>
			  </div>

			  <!-- Adding Multiple Spareparts -->

			  <div class="tab-pane fade" id="nav-multiple" role="tabpanel" aria-labelledby="nav-multiple-tab">
			  	<div class="modal-body generalpadding">

					<h4 class="greytext">Adding multiple spareparts</h4>
					<p class="greytext">With this feature, you can upload multiple spareparts under this bike at once using an excel sheet. To download a sample excel.csv file <span><a href="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/uploadspareparts/template" id="clickhere">Click Here</a></span>.</p>

					<form action="/cshops/<%= cshop._id %>/bikes/<%= bike._id %>/uploadspareparts" method="POST" encType="multipart/form-data">
				        <input type="file" class="form-control-file" name="file" accept="*.csv" /><br/><br/>
				        <button class="btn btn-info greenbtn"><i class="fa fa-plus-square-o" aria-hidden="true" value="Upload Authors"></i> Upload CSV File</button>
				    </form>

			      </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>

	<!-- End of the model TWO -->

	<script>
		function myFunction() {
		  // Declare variables 
		  var input, filter, table, tr, td, i;
		  input = document.getElementById("searchsparepart");
		  filter = input.value.toUpperCase();
		  sparepartcard = document.getElementsByClassName("sparepartcard");

		  // Loop through all table rows, and hide those who don't match the search query
		  for (i = 0; i < sparepartcard.length; i++) {
		    sparepartin = sparepartcard[i].getElementsByClassName("sparepartin")[0];
		    if (sparepartin) {
		      if (sparepartin.innerHTML.toUpperCase().indexOf(filter) > -1) {
		        sparepartcard[i].style.display = "";
		      } else {
		        sparepartcard[i].style.display = "none";
		      }
		    } 
		  }
		}
	</script>

<% include partials/footer %>